<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
	<link rel="stylesheet" href="{% static 'css/divider.css' %}">
	<script src="{% static 'js/vue.js' %}"></script>
	<script src="{% static 'js/axios.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<title>Meme-Ranker</title>
</head>
<body>
	{% for meme in page_obj %}
		{{ meme }}
		<img src="{{ meme.image.url }}">
		<button>Approve</button>
		<button>Decline</button>
	{% endfor %}
</body>
</html>