{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
	<link rel="stylesheet" href="{% static 'css/divider.css' %}">
	<script src="{% static 'js/vue.js' %}"></script>
	<script src="{% static 'js/axios.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<title>Meme-Ranker</title>
</head>
<body class="has-background-lightgrey">
	<nav class="navbar" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <a class="navbar-item" href="#">
	      <img src="{% static 'img/logo.png' %}" width="112" height="28">
	    </a>

	    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>

	  <div id="navbarBasicExample" class="navbar-menu">
	    <div class="navbar-start">
	      <a class="navbar-item" href="{% url 'rank' %}">
	        Rank Memes
	      </a>
	      <a class="navbar-item" href="{% url 'top' %}">
	        Top Memes
	      </a>
	    </div>

	    <div class="navbar-end">
	      <div class="navbar-item">
	        <div class="buttons">
	            {% if request.user.is_authenticated %}
	            	<div class="navbar-item has-dropdown is-hoverable">
	                   <a class="navbar-link" href="{% url 'profile' %}">
		            	 <strong>{{request.user}}</strong>
	                   </a>

	                   <div class="navbar-dropdown">
	                     <a class="is-primary navbar-item" href="{% url 'profile' %}">
			            	<strong>Profile</strong>
				          </a>
				          <a class="navbar-item" href="{% url 'upload' %}">
			            	<strong>Upload</strong>
				          </a>
				          <a class="navbar-item" href="{% url 'logout' %}">
			            	<strong>Logout</strong>
				          </a>
	                   </div>
	                 </div>
		          {% else %}
	              <a class="button is-primary" href="{% url 'profile' %}">
	            	<strong>Log in</strong>
		          </a>
	            {% endif %}
	        </div>
	      </div>
	    </div>
	  </div>
	</nav>
	
	{% block body %}

	{% endblock %}

</body>
</html>