{% extends 'base.html' %}
{% block body %}
	<div id='app'>
		<div class="section">
			<div class="columns is-centered has-text-centered">
				<div class="column is-4">
					<div class="img_holder">
						<img v-bind:src="meme1" alt="Meme 1" @click="like(1)">
					</div>
				</div>
				<div class="is-divider-vertical" data-content="Vs."></div>
				<div class="column is-4">
					<div class="img_holder">
						<img v-bind:src="meme2" alt="Meme 2" @click="like(2)">
					</div>
				</div>
			</div>
			<div class="columns is-centered" >
				<div class="column has-text-centered">
					<a @click="get_two_memes" class="button">
						Pass
					</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var myapp = new Vue({
				// delimiters: ['[[', ']]'],
				el: "#app",
				created() {
					this.get_two_memes();
				},
				data : {
					meme1 : "",
					meme2 : ""
				},
				methods : {
					get_two_memes() {
						axios.get('{% url "get_two_memes" %}').then(response=>{
							this.meme1 = response.data["meme_urls"][0];
							this.meme2 = response.data["meme_urls"][1];
						});
					},
					check(){
						console.log(this.meme1);
						console.log(this.meme2);
					},
					like(choice){
						axios.post('{% url "like_meme" %}',{'choice':choice}, {headers:{'X-CSRFToken':'{{ csrf_token }}'}});
						this.get_two_memes();
					}
				}
			});
	</script>
{% endblock %}