{% extends 'base.html' %}
{% block body %}
	<div class="section is-centered">		
		<section class="section" >
			<div class="columns is-centered">
				<div class="column is-narrow" style="max-width: 45%;">
					<table class="table is-centered" > 
						{% for meme in page_obj %}
						<tr>
							<td>
							<div class="content">
								<div class="title is-4">
									<div class="level">
										<div class="level-left"><span> Rank: {{ meme.rank }} <span class="title is-3"></span></span></div>
										<div class="level-right"><span> {{meme.score|floatformat}}</span></div>
									</div>
								</div> 
							</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="columns is-centered">
									<div class="column is-flex is-horizontal-center">
										<figure>
											<img src="{{ meme.image.url }}">
										</figure>   
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>  
			</div>
		</section>
		<div class="columns is-centered">
			<div class="column is-flex is-horizontal-center">
				<nav class="pagination is-centered" role="navigation" aria-label="pagination" style="max-width: 45%;">
				  {% if page_obj.has_previous %}
				  	<a class="pagination-previous" href="?page=1">First Page </a>
				  	<a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Prev Page</a>
				  {% endif %}
				  <ul class="pagination-list">
				    <li><a class="pagination-link" aria-label="Page {{ page_obj.number }}" aria-current="page" disabled>{{ page_obj.number }}</a></li>
				  </ul>
				  {% if page_obj.has_next %}
				  	<a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next page</a>
				    <a class="pagination-next" href="?page={{ page_obj.paginator.num_pages }}">Last page</a>
				  {% endif %}
				</nav> 
			</div>
		</div>
	</div>
{% endblock %}